.chat-conversation {
  display: flex;
  flex-direction: column;
  background-color: #f0f4f8;
}

.chat-header {
  display: flex;
  align-items: center;
  background-color: #81d4fa;
  color: #fff;
}
  
.header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
  
.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}
  
.message {
  display: inline-flex;
  max-width: 70%;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 0.9em;
  position: relative;
}

.message.sent {
  align-self: flex-end;
  background-color: #b3e5fc;
  color: #00796b;
  border-bottom-right-radius: 0;
}
  
.message.received {
  align-self: flex-start;
  background-color: #e1f5fe;
  color: #01579b;
  border-bottom-left-radius: 0;
}

.message-text {
  margin: 0;
}

@media screen and (max-width: 540px) {
  .form-input {
    padding: 0 8px;
    font-size: 1rem;
  }
  .form-button {
    padding: 10px 24px;
    font-size: 1rem;
  }
  .chat-header {
    padding: 12px 20px;
  }
}

@media screen and (min-width: 540px) {
  .form-input {
    padding: 0 10px;
    font-size: 1.2rem;
  }
  .form-button {
    padding: 15px 32px;
    font-size: 1.25rem;
  }
  .chat-header {
    padding: 15px 30px;
  }
}
.form {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.form-input {
  line-height: 1.5;
  width: 100%;
  outline: none;
  border: none;
}

.form-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #3968ff;
}

.form-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}